

.main-feed {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
  padding: 0;
  margin: 0;
}

.header{
    color:whitesmoke;
}


.posts{
    width: 600px;
    height: 380px;
    border: 4px solid #2940D3;
    display: flex;
    margin: 10px;

}
.posts .player{
margin-left:65px;

}
.posts .info{
margin:15px;

}

.responses{
    display: grid;
    place-items: center;
}

.responses #likeBtn{
color: gray;
}



.responses #likeBtn:hover{
 cursor: pointer;

}

.responses #likeBtn:active{

 color: black;
}