.followingPage{
    align-items: center;
}

.search-users{
    float:left;
    padding: 50px;
        margin-left: 300px;
        border: 2px solid black;
      
}

.following-list{
    float:right;
    border: 2px solid black;
    align-items:center;
    margin-right:400px;
    padding: 50px;

}
.username{
    width: 150px;
    border: 2px solid black;
}